body {
	background-color: #EEE;
	min-height: 100vh;
}

.home-choose-user-box {
	height: 50vh;
	padding-top: 25%;
	justify-content: center;
}

.divider {
	padding: 0px  55%;
}

.vertical-line {
	width: 2px;
	height: 20vh;
	background-color: #DDD;
}

.divider-content {
	position: relative;
	top: -1.2vh;
	left: -3vh;
	z-index: 1;
}

.white-background {
	background-color: #FFF;
}

.navbar {
	border-bottom: 1px solid #BBB;
}

.menu {
	margin-top: -6vh;
	padding-top: 11vh;
	min-height: 100vh;
	z-index: 1;
}

.side-menu {
	position: fixed;
	left: -0.7vw;
	z-index: 0;
}

.jobs-content {
	padding-top: 5vh;
}

.dropdown-menu {
	width: 100%;
}

.company-img-in-job-detail {
	height: 20vh;
	width: 20vh;
	position: absolute;
	left: 1vw;
	bottom: -12vh;
}

.job-summary {
	position: relative;
	min-height: 9vh;
}

.custom-nav {
	border-bottom: 1px solid #BBB;
	height: 7vh;
}

.navbar-left {
	z-index: 2;
	border-bottom: 1px solid #BBB;
	height: 7vh;
}

.navbar-center {
	padding-top: 2vh;
}
